@import '../../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 380px;
  min-height: 480px;
}

.formGroup {
  margin-bottom: 15px;
  min-width: 390px;
}

.warning {
  margin-bottom: 15px;
  color: grey;
  font-size: 14px;
}

.label {
  display: inline;
  margin-bottom: 5px;
  font-weight: 700;
  padding-right: 20px;
  width: 20%;
}

.input {
  display: inline;
  box-sizing: border-box;
  padding: 10px 16px;
  width: 60%;
  height: 46px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #616161;
  font-size: 18px;
  line-height: 1.3333333;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input:focus {
  border-color: #0074c2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 116, 194, 0.6);
}

.sendBtn {
  width: 30px;
  padding: 12px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}

.sendBtn:hover {
  background: #e6e6fa;
}

.countDown {
  width: 45px;
  display: inline-block;
  padding: 12px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 8px;
  text-align: center;
}

.errorTip {
  color: red;
  margin-bottom: 20px;
}
