
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  min-height: 480px;
  max-width: var(--max-content-width);
}

table{
  font-size: 1.1em;
  width: 100%;
  border-collapse: collapse;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

th,td {
  padding: 10px 0;
  font-weight: normal;
  border: 1px solid #CACACA;
  a{
    width: 100%;
    color: $main-color;
  }
}

th {
  background-color: #EEEFFF;
}

li {
  list-style: none;
}

.permission {
  padding-left: 10px;
}

.isYours {
  padding-left: 10px;
  color: red;
}

.permission em {
  color: green;
}
