.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #204d74;
  border-radius: 0;
  background: #286090;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: rgba(28, 60, 90, 0.8);
}

.button:focus {
  border-color: #122b40;
  box-shadow: 0 0 8px rgba(28, 60, 90, 0.6);
}
