@import '../../variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 380px;
  min-height: 480px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: inline;
  margin-bottom: 5px;
  font-weight: 700;
  padding-right: 20px;
  width: 20%;
}

.input {
  display: inline;
  box-sizing: border-box;
  padding: 10px 16px;
  width: 70%;
  height: 46px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #616161;
  font-size: 18px;
  line-height: 1.3333333;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input:focus {
  border-color: #0074c2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 116, 194, 0.6);
}

.errorTip {
  color: red;
}

.loginBtn {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.loginBtn a {
  text-decoration: none;
  color: #3CB371;
}
