@import '../../variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 380px;
  min-height: 480px;
}

.formGroup {
  margin-bottom: 15px;
}

.loginBtn {
  color: #286090;
  padding: 2px;
  text-decoration: none;
}
